@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", Helvetica, Arial, sans-serif;
  --font-family: "Inter Tight", Helvetica, Arial, sans-serif;
  --text-size: 20px;
}


